
#  Сбор данных

Собираем данные [о ценах на книги.](http://books.toscrape.com)

In [37]:
from typing import List
import warnings
warnings.filterwarnings("ignore")

In [38]:
from requests import get
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [39]:
import time

In [40]:
!pip3 install lxml

Requirement already satisfied: lxml in c:\users\ksenkys\anaconda3\lib\site-packages (4.6.3)

DEPRECATION: pyodbc 4.0.0-unsupported has a non-standard version number. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pyodbc or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [41]:
# фиктивная проверка


# 1. Сбор ссылок на книги

__Пишем функцию `get_soup`, которая по ссылке возвращает html-разметку страницы в формате `bs4`__

In [42]:
def get_page_soup(url_link: str) -> BeautifulSoup:
    response = get(url_link)
    return BeautifulSoup(response.content, 'html.parser')

In [ ]:
main_url = 'http://books.toscrape.com/catalogue/'
page_number = 5

soup = get_page_soup(main_url + f'page-{page_number}.html')

In [44]:
main_url = 'http://books.toscrape.com/catalogue/'
page_number = 5

soup = get_page_soup(main_url + f'page-{page_number}.html')
soup.find_all('a')[0].text

'Books to Scrape'

__Пишем функцию `get_books_links`, которая находит в html-разметке страницы ссылки на странички с отдельными книгами.__

In [ ]:
def get_book_links(page_soup: BeautifulSoup) -> List[str]:
    books = soup.find_all('li', {'class': 'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
    return [item.h3.a.get('href') for item in books]

In [ ]:
books = soup.find_all('li', {'class': 'col-xs-6 col-sm-4 col-md-3 col-lg-3'})

In [68]:
books[0]

'princess-jellyfish-2-in-1-omnibus-vol-01-princess-jellyfish-2-in-1-omnibus-1_920/index.html'

In [36]:
books[0].h3.a.get('href')

'princess-jellyfish-2-in-1-omnibus-vol-01-princess-jellyfish-2-in-1-omnibus-1_920/index.html'

In [55]:
books = soup.find_all('li', {'class': 'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
books[0].h3.a.get('href')

'princess-jellyfish-2-in-1-omnibus-vol-01-princess-jellyfish-2-in-1-omnibus-1_920/index.html'

__С помощью цикла собераем в лист `book_links` первые 200 книг.__

In [66]:
from tqdm.notebook import tqdm
import time

book_links = []
main_url = 'https://books.toscrape.com/catalogue/category/books_1/'



for p in tqdm(range(1, 11)):
    url = main_url + f'page-{p}.html'
    page_soup = get_page_soup(url)
    books = get_book_links(page_soup)
    book_links.extend(books)
    time.sleep(0.02)

  0%|          | 0/10 [00:00<?, ?it/s]

In [90]:
len(book_links)

200

# 2. Сбор информации о книгах 

Пишем несколько небольших функций, которые собирают различные данные об одной книге. Информацию о книге собираем в виде словаря вида 

```
{ 'name': 'Преступление и наказание', 'rating': 1, 'description': 'ужасно депрессивная книга', ... }

```

- название
- рейтинг
- описание
- налог
- цена

Подгруждаем библиотеки

In [71]:
import requests
from bs4 import BeautifulSoup
import typing as tp
from tqdm.notebook import tqdm
import time

Используя ссылку на сайт, выгружаем с него контент и представляем его в виде дерева

In [ ]:
def get_soup(url: str) -> BeautifulSoup:
    res = get(url)
    return BeautifulSoup(res.content, 'html.parser')

tree = get_soup('https://books.toscrape.com/catalogue/category/books_1/')

Достаем часть информации (название, ссылку и рейтинг)

In [81]:
# рейтинг
books = tree.find_all('li',  {'class': 'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
books[0].p.get('class')[1]

'Three'

In [85]:
def get_main_hrefs(tree: BeautifulSoup) -> tp.List[tp.Dict]:
    books = tree.find_all('li',  {'class': 'col-xs-6 col-sm-4 col-md-3 col-lg-3'})
    return [{
        'link': item.h3.a.get('href'),
        'name': item.h3.a.get('title'),
        'rating': item.p.get('class')[1]
    } for item in books]

Применяем эти функции, чтобы пройтись цикломи по первым 200 книгам (первые 10 страниц) и вытащить информацию

In [86]:
MAIN_URL = 'https://books.toscrape.com/catalogue/category/books_1/'
data = [ ]

for p in tqdm(range(1, 11)):
    url = MAIN_URL + f'page-{p}.html'
    tree = get_soup(url)
    books = get_main_hrefs(tree)
    data.extend(books)
    time.sleep(0.02)

  0%|          | 0/10 [00:00<?, ?it/s]

In [88]:
df = pd.DataFrame(data)
df

,link,name,rating
0,../../a-light-in-the-attic_1000/index.html,A Light in the Attic,Three
1,../../tipping-the-velvet_999/index.html,Tipping the Velvet,One
2,../../soumission_998/index.html,Soumission,One
3,../../sharp-objects_997/index.html,Sharp Objects,Four
4,../../sapiens-a-brief-history-of-humankind_996...,Sapiens: A Brief History of Humankind,Five
...,...,...,...
195,../../eureka-trivia-60_805/index.html,Eureka Trivia 6.0,Four
196,../../drive-the-surprising-truth-about-what-mo...,Drive: The Surprising Truth About What Motivat...,Four
197,../../done-rubbed-out-reightman-bailey-1_803/i...,Done Rubbed Out (Reightman & Bailey #1),Five
198,../../doing-it-over-most-likely-to-1_802/index...,Doing It Over (Most Likely To #1),Three
199,../../deliciously-ella-every-day-quick-and-eas...,Deliciously Ella Every Day: Quick and Easy Rec...,Three

Пройдем циклом по всем сыслкам из списка `book_links` и соберем данные о книгах в вектор `book_info`.

In [165]:
href = MAIN_URL + data[1]['link'] # из него достается ссылка
tree = get_soup(href) # по ней что-то скачивается
description = tree.find('p', {'class': ''})
description

<p>"Erotic and absorbing...Written with starling power."--"The New York Times Book Review " Nan King, an oyster girl, is captivated by the music hall phenomenon Kitty Butler, a male impersonator extraordinaire treading the boards in Canterbury. Through a friend at the box office, Nan manages to visit all her shows and finally meet her heroine. Soon after, she becomes Kitty's "Erotic and absorbing...Written with starling power."--"The New York Times Book Review " Nan King, an oyster girl, is captivated by the music hall phenomenon Kitty Butler, a male impersonator extraordinaire treading the boards in Canterbury. Through a friend at the box office, Nan manages to visit all her shows and finally meet her heroine. Soon after, she becomes Kitty's dresser and the two head for the bright lights of Leicester Square where they begin a glittering career as music-hall stars in an all-singing and dancing double act. At the same time, behind closed doors, they admit their attraction to each other and their affair begins. ...more</p>

In [166]:
book_info = []

def get_book_info(infa): # на вход идет словарь
    href = MAIN_URL + infa['link'] # из него достается ссылка
    tree = get_soup(href) # по ней скачивается информация
    table = tree.find('table', {'class': 'table table-striped'})
    table = pd.read_html(str(table))[0].set_index(0).to_dict()[1] 
    price = tree.find('p', {'class': 'price_color'}).text
    description = tree.find('p', {'class': ''})
    infa.update(table) # словарь, который был на входе, обновляется, на выход выскакивает
    infa.update({'price': price})
    infa.update({'description': description})
    return infa

In [167]:
updated_data = [ ]

for i in range(0, 200):
    try:
        updated_data.append(get_book_info(data[i]))
    except:
        print('Не получилось', item['href'])

In [168]:
dff = pd.DataFrame(updated_data)
dff.head()

,link,name,rating,UPC,Product Type,Price (excl. tax),Price (incl. tax),Tax,Availability,Number of reviews,price,description
0,../../a-light-in-the-attic_1000/index.html,A Light in the Attic,Three,a897fe39b1053632,Books,£51.77,£51.77,£0.00,In stock (22 available),0,£51.77,[It's hard to imagine a world without A Light ...
1,../../tipping-the-velvet_999/index.html,Tipping the Velvet,One,90fa61229261140a,Books,£53.74,£53.74,£0.00,In stock (20 available),0,£53.74,"[""Erotic and absorbing...Written with starling..."
2,../../soumission_998/index.html,Soumission,One,6957f44c3847a760,Books,£50.10,£50.10,£0.00,In stock (20 available),0,£50.10,"[Dans une France assez proche de la nôtre, un ..."
3,../../sharp-objects_997/index.html,Sharp Objects,Four,e00eb4fd7b871a48,Books,£47.82,£47.82,£0.00,In stock (20 available),0,£47.82,"[WICKED above her hipbone, GIRL across her hea..."
4,../../sapiens-a-brief-history-of-humankind_996...,Sapiens: A Brief History of Humankind,Five,4165285e1663650f,Books,£54.23,£54.23,£0.00,In stock (20 available),0,£54.23,[From a renowned historian comes a groundbreak...

Превратим вектор из информации в полноценную таблицу с данными.

In [169]:
import copy
book_info_df = copy.deepcopy(dff)
print(book_info_df.shape)
book_info_df.head()

(200, 12)

,link,name,rating,UPC,Product Type,Price (excl. tax),Price (incl. tax),Tax,Availability,Number of reviews,price,description
0,../../a-light-in-the-attic_1000/index.html,A Light in the Attic,Three,a897fe39b1053632,Books,£51.77,£51.77,£0.00,In stock (22 available),0,£51.77,[It's hard to imagine a world without A Light ...
1,../../tipping-the-velvet_999/index.html,Tipping the Velvet,One,90fa61229261140a,Books,£53.74,£53.74,£0.00,In stock (20 available),0,£53.74,"[""Erotic and absorbing...Written with starling..."
2,../../soumission_998/index.html,Soumission,One,6957f44c3847a760,Books,£50.10,£50.10,£0.00,In stock (20 available),0,£50.10,"[Dans une France assez proche de la nôtre, un ..."
3,../../sharp-objects_997/index.html,Sharp Objects,Four,e00eb4fd7b871a48,Books,£47.82,£47.82,£0.00,In stock (20 available),0,£47.82,"[WICKED above her hipbone, GIRL across her hea..."
4,../../sapiens-a-brief-history-of-humankind_996...,Sapiens: A Brief History of Humankind,Five,4165285e1663650f,Books,£54.23,£54.23,£0.00,In stock (20 available),0,£54.23,[From a renowned historian comes a groundbreak...

# Ответы на некоторые вопросы по собранным данным

- У скольких книг отсутствует описание?

In [193]:
book_info_df['description'].isnull().sum()

1

In [192]:
book_info_df[book_info_df['description'].isnull()]

,link,name,rating,UPC,Product Type,Price (excl. tax),Price (incl. tax),Tax,Availability,Number of reviews,price,description
160,../../the-bridge-to-consciousness-im-writing-t...,The Bridge to Consciousness: I'm Writing the B...,Three,efc3768127714ec3,Books,£32.00,£32.00,£0.00,In stock (15 available),0,£32.00,None

In [194]:
ans1 = book_info_df['description'].isnull().sum() 
ans1

1

- Сколько раз в данных встречается налог, больший нуля?

In [132]:
ans2 = (book_info_df['Tax'] > 0).sum()
ans2

0

- Сколько раз рейтинг книги составлял пять звезд?

In [133]:
ans3 = (book_info_df['rating'] == 'Five').sum()
ans3

37

- Какова средняя цена книг (без учета налога)?

In [134]:
book_info_df['Price (excl. tax)'] = book_info_df['Price (excl. tax)'].apply(lambda w: float(w[1:]))
ans4 = book_info_df['Price (excl. tax)'].mean() 
ans4

34.79625